.welcome-title {
    font-size: 20px;
    list-style: none;
}

.welcome-title__mobile {
    display: none;
}

@media (max-width: 376px) {
    .welcome-title {
        display: none;
    }
    .welcome-title__mobile {
        display: block;
    }
}
